@import "variables";

@mixin iconR($var) {
  @extend %fa-icon;
  @extend .far;
  &:before {
    content: fa-content($var);
  }
}
@mixin iconS($var) {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($var);
  }
}

#navigator {
  overflow: hidden;
  position: fixed;
  top: 10vh;
  right: -100px;
  z-index: 10;
  @include font(12px);
  ul {
    overflow: hidden;
    @include flex(column, center, nowrap, flex-end);
    width: 200px;
    height: 450px;
    li {
      overflow: hidden;
      @include flex(column, center, nowrap, flex-start);
      @extend .glass;
      color: white;
      border-radius: 0px;
      list-style: none;
      cursor: pointer;
      width: 120px;
      height: 75px;
      border-left: 20px $contrast solid;
      transition: $tTime;
      &:hover {
        transition: $tTime;
        width: 200px;
        border-left-width: 10px;
        background: linear-gradient(
          218.99deg,
          rgba(255, 255, 255, 0) 4.42%,
          rgba(255, 255, 255, 0.2) 85.6%
        );
      }
      &.active {
        width: 200px;
        border-left-width: 10px;
      }
      &.health {
        border-left-color: $contrast2;
        background: linear-gradient(
          218.99deg,
          rgba(255, 255, 255, 0) 4.42%,
          rgba(0, 255, 166, 0.2) 85.6%
        );
        &:hover {
          background: linear-gradient(
            218.99deg,
            rgba(255, 255, 255, 0) 4.42%,
            rgba(0, 255, 166, 0.5) 85.6%
          );
        }
      }
      .navList {
        @include flex(column, center);
        padding: 5px 20px;
        .icon {
          width: 35px;
          height: 35px;
          margin: 0;
        }
        .desc {
          text-align: center;
          span {
            display: block;
            font-size: 0.8em;
            line-height: 0.8;
          }
        }
      }
    }
  }
}

.icon {
  height: 60px;
  &.akadIcon {
    content: url("../assets/elem/handshake.png");
  }
  &.resepsiIcon {
    content: url("../assets/elem/reception.png");
  }
  &.coverI {
    content: url("../assets/elem/cover.png");
  }
  &.coupleI {
    content: url("../assets/elem/couple.png");
  }
  &.eventI {
    content: url("../assets/elem/event.png");
  }
  &.healthI {
    content: url("../assets/elem/health.png");
  }
  &.galleryI {
    content: url("../assets/elem/gallery.png");
  }
  &.wishI {
    content: url("../assets/elem/wish.png");
  }
}

.iconDate {
  @include iconS(0);
  &:before {
    width: 20%;
    font-size: 1.2rem;
  }
  &.dateI {
    @include iconS($fa-var-calendar-day);
  }
  &.timeI {
    @include iconS($fa-var-clock);
  }
  &.locI {
    @include iconS($fa-var-map-marked-alt);
  }
}

.buttonBlueish {
  background-image: linear-gradient(
    to left,
    $btnColor1,
    $btnColor2,
    $btnColor1
  );
  background-size: 200%;
  border-radius: 2rem;
  border: 0px;
  color: white;
  cursor: pointer;
  padding: 0.5rem 2rem;
  transition: $tTime;
  &:hover {
    background-position: right;
  }
}

.outline {
  border: 2px solid white;
  border-radius: 2rem;
  background-color: transparent;
  color: white;
  display: block;
  transition: $tTime;
  &:hover {
    background-color: white;
    color: black;
  }
}

.buttonOutline {
  @extend .outline;
  padding: 0.5rem 2rem;
  font-weight: 300;
}

.arrow {
  @extend .outline;
  @include iconS($fa-var-arrow-down);
  width: 50px;
  height: 50px;
  padding: 10px;
  font-size: 25px;
  font-weight: 900;
  cursor: pointer;
}

// Classess

.saveDate,
.findLocation {
  @extend .buttonOutline;
}

//Audio Button

.audio {
  position: fixed;
  top: 1vh;
  right: 1vh;
  z-index: 5;
  border-radius: 50%;
  @extend .glass;
  color: white;
  text-align: center;
  transition: 500ms;
  cursor: pointer;
}

.audio:hover {
  background-color: white;
  color: #000;
  text-align: center;
}

.audio i {
  align-self: center;
  font-size: 20px;
  padding: 15px;
}

.scaleUp {
  transition: $tTime;
  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    z-index: 3;
    transition: $tTime;
  }
}

.round {
  animation-name: circle;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  transition: ease-in-out;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0);
  }
}
