//Pacifico Family

@font-face {
  font-family: "Pacifico";
  src: url("../assets/font/Pacifico/Pacifico-Regular.ttf");
}

//Poppins Family

@font-face {
  font-family: "Poppins";
  src: url("../assets/font/Poppins/Poppins-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/font/Poppins/Poppins-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/font/Poppins/Poppins-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/font/Poppins/Poppins-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/font/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/font/Poppins/Poppins-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/font/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/font/Poppins/Poppins-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/font/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/font/Poppins/Poppins-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/font/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/font/Poppins/Poppins-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/font/Poppins/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/font/Poppins/Poppins-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/font/Poppins/Poppins-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/font/Poppins/Poppins-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/font/Poppins/Poppins-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/font/Poppins/Poppins-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

$f1: "Poppins";
$f2: "Pacifico";

$p1: 9px;
$p2: 9px * 2;
$p3: 9px * 3;
$p4: 9px * 4;
$p5: 9px * 5;
$p6: 9px * 6;
$p7: 9px * 7;
$p8: 9px * 8;

$rem: $p2;
$cover: $p8;
$header1: $p3;
$header2: $p6;

@mixin font($size, $f: $f1, $var: $size / 9) {
  font-family: $f;
  @media (min-width: 1024px) {
    font-size: $size;
  }
  @media (max-width: 1023px) and (min-width: 768px) {
    font-size: $size - $var;
  }
  @media (max-width: 767px) {
    font-size: $size - $var * 2;
  }
}
