body.loaded {
  overflow-y: scroll;
}

#loader.loaded {
  transform: translateY(-100%);
}

#landing.loaded .col {
  opacity: 1;
}

@media (min-width: 1024px) {
  #couple {
    .profile {
      flex: 45%;
    }
    .and {
      flex: 10%;
    }
  }
  #text > div {
    > div {
      flex: 50%;
    }
  }
  #healthProtocols .col {
    flex: 33.33333%;
    img {
      width: 30%;
    }
  }
  #gallery .photo {
    height: 35vh;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  #couple {
    .profile {
      flex: 45%;
    }
    .and {
      flex: 10%;
    }
  }
  #text > div {
    > div {
      flex: 50%;
    }
  }
  #healthProtocols .col {
    flex: 33.33333%;
    img {
      width: 30%;
    }
  }
  #gallery .photo {
    height: 35vh;
  }
}
@media (max-width: 767px) {
  #navigator {
    top: unset;
    right: unset;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    ul {
      @include flex(row, center, nowrap, flex-end);
      width: 100%;
      height: 100%;
      li {
        flex: 1;
        width: auto;
        height: 100%;
        align-items: center;
        border-top: 10px $contrast solid;
        border-left: 0px;
        &.health {
          border-top-color: $contrast2;
        }
        .navList {
          padding: 5px 5px;
          .icon {
            width: 25px;
            height: 25px;
          }
        }
        &:hover {
          width: auto;
          border-top-width: 5px;
          border-left: 0px;
        }
        &.active {
          width: auto;
          border-top-width: 5px;
          border-left: 0px;
        }
      }
    }
  }

  #cover > .col {
    padding-bottom: 12vh !important;
  }

  #couple {
    .profile {
      flex: 100%;
    }
    .and {
      flex: 100%;
      margin: 5vh 0;
    }
  }
  #text > div {
    .letterText {
      flex: 100%;
    }
    .hero {
      display: none;
    }
  }
  #healthProtocols .col {
    flex: 50%;
    img {
      width: 40%;
    }
  }
  #gallery .photo {
    height: 20vh;
  }
  #footer {
    margin-bottom: 10vh;
  }
}
