@import "variables";
@import "fonts";
@import "buttons";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

html {
  background-color: $mainBcColor;
  @include font();
}

.row {
  @include flex(row, $jc2, wrap);
}
.col {
  @include flex(column, center, wrap);
}

#landing > .col {
  justify-content: space-evenly;
  .letter {
    align-self: flex-start;
    text-align: left;
    > p {
      margin-bottom: 3vh;
    }
    #guest {
      font-weight: 800;
      display: block;
    }
  }
  #open {
    @extend .buttonBlueish;
    @include font();
    font-weight: 700;
    align-self: center;
  }
  .coverName {
    @include font($header1, $f2);
    @include coverCouple($header1);
    align-self: flex-end;
  }
}

#content > div,
#landing {
  color: white;
  z-index: 2;
  overflow-x: hidden;
  > .row {
    @include flexCenter();
  }
  > .col {
    @include flexCenter();
  }
}

hr {
  @extend .hr;
}

#cover {
  @include background(
    $secondBgColor,
    url("../assets/img/VIS00515.JPG"),
    $bPos: 50% 50%
  );
  > div {
    justify-content: $jc2;
    padding: 5vh 0;
    .headCover {
      @include flex(column, $jc1);
      line-height: 3;
      .coverName {
        @include font($cover, $f2);
        @include coverCouple();
      }
    }
    .footCover {
      @include flex(column, space-evenly);
      height: 20vh;
      .saveDate {
        @extend .buttonOutline;
      }
      .scroll {
        @extend .arrow;
      }
    }
  }
}

#couple {
  @include dividerBottom();
  @include background();
  > div {
    .profile {
      @include flex(column);
      img {
        max-width: 250px;
        width: 100%;
        border-radius: 50%;
      }
      .name {
        @include font($header2);
        font-weight: 500;
        line-height: 1.2;
      }
      &:hover hr {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
      }
    }
    .and {
      @include font($header2);
    }
  }
}

#text {
  @include dividerTop();
  @include dividerBottom($dvdColor2);
  @include background(
    $secondBgColor,
    url("../assets/img/VIS00366.JPG"),
    overlay,
    left,
    500%
  );
  > div {
    flex-wrap: nowrap;
    .letterText {
      @extend .glass;
      padding: 3% 5%;
      .textTitle {
        @include font($header1, $f1, 6);
        font-weight: 700;
        font-style: italic;
        margin-bottom: 10px;
      }
      p {
        text-align: justify;
      }
    }
    .hero {
      #imgHero {
        width: 120%;
        z-index: 3;
      }
    }
  }
}

#date {
  @include dividerTop($dvdUrl2);
  @include background();
  > div {
    .akad,
    .resepsi {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      .akadCard,
      .resepsiCard {
        @extend .glass;
        max-width: 350px;
        width: 100%;
        padding: 5%;
        margin: 5%;
        .header {
          @include flex(column);
          flex-grow: 1;
          .akadIcon {
            content: url("../assets/elem/handshake.png");
            height: 60px;
          }
          .resepsiIcon {
            content: url("../assets/elem/couple.png");
            height: 60px;
          }
          .headTitle {
            @include font($header2);
            font-weight: 700;
          }
        }
        .body {
          flex-grow: 2;
          .dateIcons {
            @include flex(column);
            align-items: flex-start;
            .dateIcon {
              @include flex(row, $aItems: flex-start);
              @extend .iconDate;
              margin-bottom: 1.5rem;
              width: 100%;
              .desc {
                width: 80%;
                font-family: "Poppins";
                padding-top: 5px;
                text-align: start;
                font-weight: 300;
              }
            }
          }
          .buttons {
            @include flex(column);
            > div {
              margin: 5px;
            }
            .findLocation {
              @extend .buttonOutline;
            }
          }
        }
      }
    }
    .akad {
      @extend .redPlanet;
    }
    .resepsi {
      @extend .bluePlanet;
    }
    .countDown {
      @include flex(column, $jc1);
      flex: 100%;
      .countTitle {
        @include font($header2, $f2);
      }
      .countTimer {
        @include flex(row, $jc1);
        max-width: 50vh;
        width: 100%;
        .countBox {
          @include flex(column, $jc1);
          @extend .glass;
          flex-grow: 1;
          max-width: 70px;
          width: 100%;
          height: 80px;
          .countNumber {
            @include font($p4);
          }
          .countVar {
            @include font(12px);
          }
        }
      }
      .buttons {
        .saveDate {
          @extend .buttonOutline;
          margin: 10% 0;
        }
      }
    }
  }
}

#location {
  @include background();
  > div {
    .loc {
      @include flex(column, center);
      flex: 1;
      width: 100%;
      .locTitle {
        @include font($header2, $f2);
      }
      .locNav {
        @extend .glass;
        width: 100%;
        padding: 1% 0;
        margin: 1vh 0;
        opacity: 50%;
        transition: $tTime;
        &:hover {
          opacity: 100%;
        }
      }
      > iframe {
        width: 100%;
        height: 60vh;
        border: 0;
        border-radius: $radius;
      }
    }
  }
}

#healthProtocols {
  @include dividerBottom();
  @include background();
  > div {
    overflow: visible;
    .health {
      @include flex(column, center);
      width: 100%;
      .healthCard {
        @include flex(column, space-around);
        @extend .glass;
        padding: 2vw 5vw;
        .healthTitle {
          @include font($header1);
        }
        .healthText {
          hr {
            background-color: #e69c31;
            border-color: #e69c31;
          }
          margin-bottom: 2%;
          text-align: justify;
        }
        .healthIcons {
          @include flex(column, $jc1);
          width: 100%;
          .row {
            @include flex(row, $jc1, wrap);
            align-items: baseline;
            .col {
              @include flex(column);
              margin: 1% 0;
              span {
                @include font();
                padding: 3%;
              }
            }
          }
        }
      }
    }
  }
}

#gallery {
  @include dividerTop();
  @include dividerBottom($dvdColor2);
  @include background(
    $secondBgColor,
    url("../assets/img/VIS00366.JPG"),
    overlay,
    top left,
    500%,
    repeat-y
  );
  > div {
    .galleryTitle {
      @include font($header2, $f2);
    }
    .photos {
      hr {
        margin: 2vh 0;
      }
      @include flex(row, unset, wrap);
      width: 100%;
      .photo {
        flex-grow: 1;
        list-style-type: none;
        transition: 500ms;
        img {
          min-width: 100%;
          max-height: 100%;
          object-fit: cover;
          vertical-align: bottom;
        }
        :last-child {
          flex-grow: 10;
        }
        &:hover {
          transform: scale(1.02);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
          z-index: 3;
        }
      }
    }
  }
}

#pray {
  @include dividerTop($dvdUrl2);
  @include background();
  > div {
    .prayTitle {
      @include font($header2, $f2);
    }
    .prayContent {
      @extend .glass;
      @include font($p2);
      text-align: justify;
      padding: 5%;
    }
  }
}

#wish {
  @include background();
  > div {
    .wishCard {
      @include flex(column, $tAlign: left);
      @extend .glass;
      width: 100%;
      padding: 5%;
      .wishTitle {
        @include font($header1);
        text-align: center;
      }
      form {
        @include flex(column, $aItems: unset);
        width: 100%;
        padding: 10px 0;
        > * {
          margin: 5px 0;
        }
        .formGroup {
          @include flex(column, $aItems: unset, $tAlign: left);
          label {
            padding-bottom: 5px;
          }
          input,
          textarea {
            padding: 10px;
            background-color: white;
            border-radius: $radius;
          }
          textarea {
            resize: none;
            font-family: $f1;
          }
        }
        button {
          width: 80px;
          height: 40px;
          border-radius: $radius;
        }
      }
    }
    .thankyou {
      margin: 20vh 0;
      @include font($header1);
      .couple {
        @include font($header1, $f2);
        font-style: italic;
      }
    }
  }
}

#footer {
  background-image: linear-gradient(to right, #00c4cc 0%, #4cd6b4 100%);
  background-size: cover;
  text-align: center;
  vertical-align: middle;
  padding: 5vh 10vh;
  div {
    padding: 10px;
  }
  img {
    width: 100px;
  }
}

@import "perspective";
